.form {
 display: flex;
 border-top: 2px solid #D3D3D3;
}
.input {
 border: none;
 border-radius: 0;
 padding: 3%;
 width: 80%;
 font-size: 1.2em;
}
input:focus, textarea:focus, select:focus{
 outline: none;
}
.sendButton {
 text-transform: uppercase;
 text-decoration: none;
 /* background:hsl(266, 100%, 58%); */
 padding: 20px;
 display: inline-block;
 width: 20%;
 border: none;
 cursor: pointer;
}
.color{
 color: hsl(266, 100%, 58%);;
}